<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google Apps">

<listeners>

<listener class-name="analyzerapproach_2.MyTransformer"/>


</listeners>


    <test name="Run Time">
    
    
   
         <classes>
              <class name="analyzerapproach_2.RetryMyTest"/>
  
          </classes>
          
       
     </test> <!-- Test -->
</suite> <!-- Suite -->